<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>安装日报管理系统</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="bookmark" href="/img/favicon.ico" />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>
</head>
<body class="install">
    <header class="navbar">
        <a class="brand" href="/" title="home page">日报管理系统</a>
    </header>
    <section class="container">
        <p>恭喜，安装成功！</p>
        <p>管理员账户名为:admin，密码:1234567。<a href="/login">登陆</a>后进入“管理员控制台”开始设置部门和添加成员</p>
    </section>
</body>
</html>