<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>登陆日报管理系统</title>
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>
</head>
<body class="login">
    <header class="navbar">
        <a class="brand" href="/" title="home page">日报管理系统</a>
    </header>
    <section id="loginDiv" class="container">
        <div class="title"> <i class="icon-user"></i><h1>用户登陆</h1></div>
        <p id="errorTip" data-bind="text: errorTip, visible:showErrorTip"></p>
        <label for="userName">用户名:</label>
        <input type="text" required="required" name="userName" id="userName"
               data-bind="value: userName, valueUpdate:'keyup'"/>
        <br />
        <label for="password">密码:</label>
        <input type="password" required="required" name="password" id="password"
               data-bind="value: password, valueUpdate:'keyup'"/>
        <div>
            <input id="submitBtn" type="submit" value="提交" class="btn btn-primary"
               data-bind="click: submit, enable:valid" /></div>
    </section>
</body>
<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/admin/DepartmentUserMode.js'></script>
<script type="text/javascript" src='/js/login.js'></script>
</html>