<!DOCTYPE html>
<html>
<head>
    <title>下属日报</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="bookmark" href="/img/favicon.ico" />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/pepper-grinder/jquery-ui-1.10.3.custom.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.3.custom.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>

</head>
<body class="subordinate">
<header class="navbar">
    <a class="brand" href="/" title="home page">日报管理系统</a>
    <ul class="nav">
        <li ><a href="/write">写日报</a></li>
        <li ><a href="/show">我的日报</a></li>
        <li class="active"><a href="#">下属日报</a></li>
        <li ><a href="/password">修改密码</a></li>
        {{#if isAdmin}}
        <li ><a href="/admin">管理员控制台</a></li>
        {{/if}}
        {{#if isLoginUser}}
        <li ><a href="/logout">退出</a></li>
        {{/if}}
    </ul>
</header>
<section id="userList">
    <div class="title"> <i class="icon-list"></i><h1>部门成员列表</h1></div>
    <div id="userTree"></div>
</section>
<section id="reports">
    <div class="title"> <i class="icon-book"></i><h1>日报内容</h1></div>
    <article id="reportList" >
        <ul class="unstyled" data-bind="foreach: reports">
            <li class="report">
                <p class="date"><i class="icon-calendar"></i><span data-bind="text: date"></span></p>
                <div data-bind="html: content"></div>
                <!-- <p class="btn btn-link reply" data-bind="attr: {reportId: id}">reply</p> -->
            </li>
        </ul>
        <div class="pagination" data-bind="if: pageNum() > 1">
            <button class="btn btn-mini pagePre" title="上一页"
                    data-bind="visible: currentPage()>1">&lt;&lt;</button>
            <span data-bind="text: currentPage() + '/' + pageNum()"></span>
            <button class="btn btn-mini pageNext" title="下一页"
                    data-bind="visible: currentPage() < pageNum()">&gt;&gt;</button>
        </div>
    </article>
</section>

<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/ReportModel.js'></script>
<script type="text/javascript" src='/js/TreeList.js'></script>
<script type="text/javascript" src='/js/reportBase.js'></script>
<script type="text/javascript" src='/js/subordinateReports.js'></script>
</body>
</html>