#department {
  width: 720px;
}
#department #newDepartment,
#department #departmentTree {
  float: left;
  margin: 20px 20px 0 0;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  width: 300px;
  height: 350px;
  overflow: auto;
  color: #555;
}
#department #departmentTree {
  padding: 10px 16px 10px 0;
}
#department #newDepartment .submitBtn {
  margin-top: 20px;
}
#department #newDepartment.update {
  background-color: #FAA732;
  border: 1px solid #c58433;
}
