.treeList ul {
  list-style: none;
}
.treeList li div {
  padding: 6px 0 10px 5px;
}
.treeList li div.treeListItemOver {
  background-color: #78b608;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.treeList li div.treeListItemSelected {
  background-color: #FAA732;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.treeList li div i {
  padding: 1px;
}
.treeList li div i.icon-minus,
.treeList li div i.icon-plus {
  width: 12px;
  height: 12px;
  border: 1px solid #444444;
  margin-right: 5px;
  cursor: pointer;
}
.treeList li div span.delete,
.treeList li div span.update,
.treeList li div span.review {
  margin-right: 8px;
  font-size: 12px;
  height: 16px;
  padding: 2px 8px 4px 8px;
  float: right;
}
header {
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(center top, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #D4D4D4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  min-height: 40px;
  width: 100%;
}
header.navbar a.brand {
  padding-left: 40px;
}
#department {
  width: 720px;
}
#department #newDepartment,
#department #departmentTree {
  float: left;
  margin: 20px 20px 0 0;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  width: 300px;
  height: 350px;
  overflow: auto;
  color: #555;
}
#department #departmentTree {
  padding: 10px 16px 10px 0;
}
#department #newDepartment .submitBtn {
  margin-top: 20px;
}
#department #newDepartment.update {
  background-color: #FAA732;
  border: 1px solid #c58433;
}
body.admin-users #users {
  width: 720px;
}
body.admin-users #users #newUser,
body.admin-users #users #updateUser,
body.admin-users #users #usersTree {
  float: left;
  margin: 20px 20px 0 0;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  width: 300px;
  height: 430px;
  overflow: auto;
}
body.admin-users #users #usersTree {
  padding: 10px 16px 10px 0;
}
body.admin-users #users #updateUser {
  background-color: #FAA732;
  border: 1px solid #c58433;
}
body.admin-admingroup section.container {
  width: 720px;
}
body.admin-admingroup #newAdministrator,
body.admin-admingroup #adminlist {
  float: left;
  margin: 20px 20px 0 0;
  background-color: #fbeed5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  width: 300px;
  height: 430px;
  overflow: auto;
}
body.admin-admingroup #adminlist a.delete {
  float: right;
  margin-right: 10px;
}
body.admin-admingroup #adminlist li {
  padding: 6px 0 10px 5px;
}
body.admin-admingroup #adminlist li.itemOver {
  background-color: #78b608;
  border-radius: 5px 5px 5px 5px;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
* {
  color: #555;
}
.errorTip {
  color: red;
  padding-left: 5px;
}
div.title {
  margin: 0 0 10px 0;
  padding: 0;
}
div.title h2 {
  display: inline;
  font-size: 16px;
  padding-left: 5px;
}
