.treeList ul {
  list-style: none;
}
.treeList li div {
  padding: 6px 0 10px 5px;
}
.treeList li div.treeListItemOver {
  background-color: #78b608;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.treeList li div.treeListItemSelected {
  background-color: #FAA732;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.treeList li div i {
  padding: 1px;
}
.treeList li div i.icon-minus,
.treeList li div i.icon-plus {
  width: 12px;
  height: 12px;
  border: 1px solid #444444;
  margin-right: 5px;
  cursor: pointer;
}
.treeList li div span.delete,
.treeList li div span.update,
.treeList li div span.review {
  margin-right: 8px;
  font-size: 12px;
  height: 16px;
  padding: 2px 8px 4px 8px;
  float: right;
}
