body.subordinate .navbar {
  margin-bottom: 0;
}
body.subordinate #userList {
  float: left;
  margin-top: 0px;
  border-right: 1px solid #E5E5E5;
  padding: 10px 16px 10px 0;
  height: 91%;
  width: 310px;
}
body.subordinate #userList div.title {
  padding-left: 15px;
}
body.subordinate #userList #userTree {
  margin: 0 10px 0 0;
  padding: 0;
  width: 300px;
}
body.subordinate #reports {
  float: left;
  padding-left: 30px;
  width: 65%;
}
body.subordinate #reports li.report {
  border-bottom: 1px solid #E5E5E5;
}
#reportList {
  color: #555;
}
#reportList li.report {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
#reportList li.report .date span {
  font-size: 18px;
  font-weight: bold;
  color: #1a700b;
  padding-left: 5px;
}
#reportList li.report .content {
  margin: 0;
  padding: 0;
}
#reportList li.report .reply,
#reportList li.report .delete {
  float: right;
  padding: 0 20px 0 0;
}
div.pageination {
  opacity: 0;
}
div.pageination div.pagetip {
  text-align: center;
  padding-top: 15px;
}
div.pageination div.aligncenter {
  text-align: center;
}
