
<div data-role="page" id="subordinatePage">
    <div data-role="header" data-position="fixed">
        <a class="headerBack" href="#" style="display: none">返回</a>
        <h1>下属日报</h1>
        <a href="#mypanel" data-icon="gear" class="ui-btn-right">设置</a>
    </div>
    <div class="subordinate" data-role="content">
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li><a href="/m/write" data-icon="edit">写日报</a></li>
                <li><a href="/m/show" data-icon="bars">我的日报</a></li>
                <li><a href="#" data-icon="grid" class="ui-btn-active">下属日报</a></li>
            </ul>
        </div>
    </div>
    <div data-role="panel" id="mypanel">
        <ul data-role="listview" data-inset="true" data-theme="e">
            <li><a href="/m/password">修改密码</a></li>
            <li><a href="/m/logout">退出登录</a> </li>
        </ul>
    </div>
</div>
<script>
    $("#subordinatePage").bind("pagecreate", function(e) {
        init();
    });
</script>